@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="jumbotron">
    <h1>Dokter Praktek</h1>
    <br />
    <p><a href="/Schedules/SelectDoctor" class="btn btn-primary btn-lg">Book Now</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>
            Our mission is to provide better care of the sick, investigation into their problems, and further education of those who serve.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Phone : (0778) 4085780</p>
    </div>
    <div class="col-md-4">
        <h2>Location</h2>
        <p>Ruko Dermaga Sukajadi Blok RI No. 9, Jalan Jendral Sudirman, Sukajadi, Batam Kota, Kota Batam, Kepulauan Riau 29444</p>
    </div>
</div>
